nav{
  background: #1b3086;
  font-style: oblique;


  color: aliceblue;
  background-image: url('/assets/pngegg.png');
  background-repeat: no-repeat;
  background-position: 1500px 10px;

background-size: 5%;
}
a{
  font-style: oblique;
  font-size: 18pt;
}
